# Visual Studio / VS Code
.vs/
.vscode/
*.user
*.suo

# .NET build outputs
**/bin/
**/obj/

# Node/Angular
**/node_modules/

# Logs and temp
*.log
*.tmp

# Environment files
.env
*.ts
!Frontend/webApp/src/app/Component/Dashoard/Observateur-dashboard/observateur-dashboard.ts
Frontend/webApp/src/app/Component/Dashoard/admin-dashboard/admin-dashboard.html
